# Ignore node_modules folder
node_modules/

# Ignore .DS_Store files (for Mac users)
.DS_Store

merge-markdown.config.js
package-lock.json

# Ignore the GitHub Actions workflow file
.github/workflows/main.yml